{% extends 'base.html' %}
{% block title %}
Order
{% endblock title %}

{% load post_tags %}
{% block content %}
<div class="container">

<table class="table table-striped"style="text-align:center;border:5px solid blue">
    <tr >
         <th>Sno.</th>
         <th>Product Image</th>
         <th>Product Name</th>
         <th>Price</th>
         <th>Total Price</th>
         <th>Quantity</th>
         

         <th>Status</th>
    </tr>
    {% for pro in fetch_dtls %}
    <tr>
             <td>{{forloop.counter}}</td>
             <td><img src="{{pro.product.pro_image.url}}"height=90 width=90></td>
            <td>{{pro.product.product_name}}</td>
            <td>Rs.{{pro.price}}</td>
            <td>{{pro.quantity}}</td>
            <td>Rs.{{pro.price|order_amount:pro.quantity}}</td>
            {% if pro.status %}
        
            <td><span class="badge text-bg-success"><h5>Accepted</h5></span></td>

                 {% else %}
                 <td><span class="badge text-bg-warning"><h5>Panding </h5></span></td>

            {% endif %}

    </tr>
    
    {% endfor %}
    <tr>

        <td colspan=5><h3>Payable Amount:-</h3>
        </td>
        <td>
            <strong>
                   Rs. {{tp}}
            </strong>
        </td>
        {% comment %} td>
            <h3>{{filter_product|Payable_price:request.session.cart }}

            </td> {% endcomment %}
    </tr>
    <tr>
        <td colspan=7>
            <div colspan=7 class="float-end"><button class="btn btn-success"
                data-bs-toggle="modal"data-bs-target="#pay">Pay</button></div>
        </td>
     </tr>
    
  </table>
  
</div>

  

{% endblock content %}